body{
    margin: 0;
    padding: 0;
}
.container{
    width: 1000px;
    margin: 40px auto;
    display: grid;
    grid-template-rows: repeat(2,150px);
    grid-template-columns: repeat(2,350px);
    gap: 30px;

    /* only 4 cells are explicit grids and rest are implicit grids*/

    /* this will place all remaining cells column wise as by default they are in row */
    /* grid-auto-flow: column;  */

    /* this will set the columns as same as explicit grids cells */
    /* grid-auto-columns: 350px; */
    
    
    /*same as before */
    grid-auto-rows: 150px;

    background-color: green;

    /* By default align items is stretch */

    /* using align items we align the item vertically */
    align-items: center;

    /* in justify-items we align items horizontally,aligning center in grid area/cell */
    justify-items: center; 

    justify-content: center;


}

.item{
    background-color: red;
    color: white;
    padding: 30px
}

.item--1{
    align-self: flex-start;
    /* justify-self: self-start; */
}

.item--3{
    justify-self: flex-start;
}