.container{

    width: 1000px;
    margin: 0 auto;
    display: grid;
    
    grid-template-rows: 100px 200px 400px 100px;
    grid-template-columns: repeat(3,1fr) 200px;
    gap: 30px;
    background-color: gray;
}


.item{
    background-color: red;
    padding: 20px;
}

.header{
    grid-column: 1/-1;
}

.sidebar{
    grid-row: 2/4;
    grid-column: 4;
}

.content{
    grid-column: 1/4;
}

.footer{
    grid-column: 1/-1;
}