*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #000;
}

.card{
    height: 500px;
    width: 400px;
    font-size: 1.75rem;
    color: white;
    background-color: palevioletred;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* transform-style: preserve-3d; */
    /* transform: perspective(1000px); */
    /* border-radius: 1rem; */
}

.card h1,.card h2{
    transform: translateZ(50px);

}

